/*************************************
* Brand & other color variables here *
*************************************/

// Brand colors
$white: #fff;
$black: #000;
$black-transparent: rgba(0, 0, 0, 0.2);
$shade-transparent: rgba(0, 0, 0, 0.07);

$light-black: #3c3a3b;
$dark-gray: #858082;
$gray: #d6d6d6;
$footer-gray: #efefef;
$light-gray: #f2f2f2;
$dark-blue: #197fb1;
$blue-transparent: rgba(0,114,169,0.9);
$light-blue: #00a4e4;
$orange: #ffc055;
$yellow: #ffe460;
$dark-green: #1f8b5c;
$shade-green: #19714A;
$light-green: #3cbc75;
$light-grey: #DCDCDC;
// Text colors
$text-white: $white;
$text-black: $black;
$mobile-menu-grey: #2E2C2D;
$text-link: $black;
$text-light-grey: #585859;
// Form elements colors
$placeholder-color: $black;
$pagination-grey: #3D3E42;
$light-blue-background: #0072A9;
