/****************
* Font families *
****************/

@font-face {
  font-family: 'dinn-next-medium';
  src: url('assets/fonts/DINNextLTPro-Medium.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'dinn-next-regular';
  src: url('assets/fonts/DINNextLTPro-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'dinn-next-bold';
  src: url('assets/fonts/DINNextLTPro-Bold.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'dinn-next-italic';
  src: url('assets/fonts/DINNextLTPro-Italic.otf');
  font-weight: normal;
}

$main-family:         'dinn-next-regular', arial, sans-serif;
$main-family-med:     'dinn-next-medium', arial, sans-serif;
$main-family-bold:    'dinn-next-bold', arial, sans-serif;
$main-family-ita:     'dinn-next-italic', arial, sans-serif;